$blue-background: #b8d9ff;
$blue-text: #0b68d4;
$red-background: #ffe6e5b9;
$red-text: #b81c1c;
$yellow-background: #feffdbc4;
$yellow-text: #b68730;
$gray-background: #d3d3d3;
$gray-text: #8585859e;
$green-background: #daffe7b6;
$green-text: #016b56;

table {
    width: calc(100% - 100px);
    ;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 120px;

    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    overflow: hidden;

    th,
    td {
        font-size: large;
        padding: 13px 20px;
        text-align: left;
        border-bottom: 1px solid $blue-background;
    }

    th {
        background-color: $blue-background;
        color: $blue-text;
    }

    tr:last-child td {
        border-bottom: none;
    }

    .green {
        background-color: $green-background;
        color: $green-text;
    }

    .red {
        background-color: $red-background;
        color: $red-text;
    }

    .yellow {
        background-color: $yellow-background;
        color: $yellow-text;
    }
}

.table-container {
    margin: 50px;
    margin-bottom: 120px;

    display: flex;
    flex-direction: column;

    button {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        border: 0;
        background-color: #0b68d4;
        font-size: 20px;
        text-decoration: none;
        color: white;
        display: flex;
        align-self: flex-end;
        margin-right: 50px;

        &:hover {
            background-color: #4870b0a0;
        }
    }
}